@import '../styles/index.css';
.pos_r{
    position: relative;
}
.pos_a{
    position: absolute;
}
.news{
    background: #ffffff;
}
.header_holder{
    height: 50px;
    background: #ffffff;
    opacity:0;
}
.news_box{

}
.dis_flex{
    display: flex;
}
.news_btn{
    border-bottom: 1px solid #dcdcdc;
    margin-left: 20px;
}
.news_list{
    height: 50px;
}
.new_logo{
    margin-top:10px; 
    width: 35px;
    height: 35px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    overflow:hidden;
}
.new_logo>img{
    width: 35px;
}
.new_text{
    margin: 10px 0 0 10px;
}
.new_text_cont{
    color: #a6a6a6;
}
.nre_text_time{
    margin-top: 10px;
    color: #a6a6a6;
    right: 10px;
    font-size: 10px;
}





















